
Unity Projects/Projects/Exercise U2/.vs/Exercise U2/FileContentIndex/bb4e248d-deed-45fa-a954-2d61a5b1ad13.vsidx
Unity Projects/Projects/Exercise U2/.vs/Exercise U2/FileContentIndex/dc9c86a0-fca7-45f8-b3c2-d0b70f654a2b.vsidx
